body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.card-deck2{
  width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap:wrap;
  flex: 1 0 0%;
  justify-content: space-around;
  box-shadow: 5px 5px 10px rgba(0,0, 0, 0.4);

}
.media, .list-group, .itemsTable{
  width: 1000px;
  margin: 20px auto;
  border:none;
  box-shadow: 5px 5px 10px rgba(0,0, 0, 0.4);
  border-radius:4px;
}
.card-deck2 .card{
  margin: 30px;
  width: 20rem;
}
/* .card:hover, .card:focus, .card:active
{
    box-shadow: 5px 5px 10px rgba(0,0, 0, 0.4); */
    /* transform: scale(1.05); */
    /* display: block; */
/* } */
#basket{
  height: 20px;
  width: 20px;
}
#logo{
  height: 60px;
  width:60px;
}
a {
  color:inherit;
  text-decoration: none;
}

a:hover 
{
   color:inherit; 
   text-decoration:none; 
   cursor:pointer;  
}

/* .card-body {
  display: none;
} */

.card {
  border:none;
  /* box-shadow: 5px 5px 10px rgba(0,0, 0, 0.4); */
}

.card img {
  border-radius:4px;
}

/* .card:hover {
  border:1px solid #ccc;
} */

/* .card:hover .card-body{
  display: block;
} */
.homeImg{
  width: 70%;
}
.card-img-top{
  height: 180px;
   width: 100%;
  display: block;
}
span{
  padding:0 10px;
}
.about{
  padding: 30px;
}
.cart-img{
  width: 100px;
  height: 100px;
}
.detail-img{
 height: 415px;
 width: 500px;
}